$fullwidth : 100%;
$containerWidth : 80%;

//button color 

$buttonColor : #20d459;
$primaryColor : #e31b4a;
$descColor : #858585;
 
h2{
    margin : 0px;              
}

.App{
    width: $fullwidth;

    //header part style

    .headerParent{
        width : $fullwidth;
        height : 70px;
        background-color : #fff;

        .headerContainer{
            width : $containerWidth;
            margin : 0px auto;
            display : flex;

            .headerColm1 {
                width : 60%;
                height : 100%;
                display :flex;
                margin : 20px 0px;

                .backicon{
                    margin : 0px 20px;
                    font-size : 30px; 
                }
               
                h2{
                    font-size : 24px;
                    font-weight: 800;
                }
            }

            .headerColm2 {
                width : 40%;
                height : 100%;
                display :flex;
                margin : 20px 5px 20px 0px;
               
                p{
                    margin : 4px;
                    margin-left: auto;
                    font-size : 14px;
                    color : $descColor;
                    font-weight: 400;
                }

                .countDisp{
                    font-size:8px;
                    background-color:$primaryColor;
                    color : #fff;
                    padding : 2px;
                    height : 16px;
                    width : 16px;
                    border-radius : 8px;
                    margin-left : -50px;
                    margin-right : 10px;
                    text-align:center;
                }
            }
        }
    }

    //Category style design

    .categoryListing{
        height : auto;
        overflow: auto;
        white-space: nowrap;
        display: flex;
        width : 100%;

        p{
            text-transform:capitalize;
            padding : 10px 20px 10px 20px;
            margin-bottom : 4px;
            border-bottom: 3px solid rgb(204, 195, 195);
            cursor: pointer;
            color : $descColor;
            font-size : 14px;
            font-weight: 700;
        }

        .activeStyle{
            color : $primaryColor;
            border-bottom : 3px solid $primaryColor;
        }
    }

    //card Design

    .cardDisp{
        display : flex;
        padding: 0px 0px;
        margin : 5px 0px;
        height: 100%;
        border-bottom: 1px solid rgb(204, 195, 195);
       
        .cardColm1{
            width : 8%;
            height : 100%;

            img{
                margin-top : 10px;
                margin-left: 10px;
            }
        }
        .cardColm2{
            width : 72%;
            height : 100%;

            h5{
                margin :10px 3px;
                font-size : 15px;
                font-weight: 700;
            }

            .priceDisp{
                width : 100%;
                display:flex;

                small{
                    width : 50%;

                    .categories{
                        margin-right: auto;
                        text-align: right;
                    }
                }
            }

            p{
                letter-spacing: 1px;
                color : $descColor;
            }

            .count{
                width : 100%;

                .buttonView{
                    display:flex;
                    width : 50%;
                    height : 30px;

                    .btnAdd{
                        width : 30%;
                        text-align: left;
                        background-color: $buttonColor;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }
                    .btnCount{
                        width : 40%;
                        text-align: center;
                        padding : 5px;
                        background-color: $buttonColor;
                    }
                    .btnMinus{
                        width : 30%;
                        text-align: right;
                        background-color: $buttonColor;
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                    }
                }
            }

            .customize{
                margin : 10px;
                font-size: 14px;
                color: $primaryColor;
            }
        }
        .cardColm3{
            width : 25%;
            height : 100%;

            .cardImg{
                width: 90%;
                margin-top: 10px;
                height: 60px;
            }
        }
    }
}

//media 780px

@media screen and (max-width: 780px){
    .App{
        .headerParent{

            height : 60px;

            .headerContainer{
                width: $fullwidth;

                .headerColm1 {
                   
                    .backicon{
                        margin : 0px 10px;
                        font-size : 25px; 
                    }

                    h2{
                        font-size : 18px;
                        margin-top: 2px;
                    }
                }

                .headerColm2 {
                    width : 40%;
                    height : 100%;
                    display :flex;
                    margin : 20px 0px;
                   
                    p{
                        margin : 4px;
                        margin-left: auto;
                        font-size : 12px;
                    }

                    .countDisp{
                        font-size:8px;
                        background-color:$primaryColor;
                        color : #fff;
                        padding : 1px;
                        height : 16px;
                        width : 16px;
                        border-radius : 8px;
                        margin-left : -50px;
                        margin-right : 10px;
                        text-align:center;
                    }
                }
            }
        }
        .padnone{
            padding: 0px;
        }
    }
}
